@import "tailwindcss";

@theme {
  /* Aqui definimos as cores do seu TravelPlan para usar no projeto todo */
  --color-android-blue: #1a73e8;
  --color-android-dark: #202124;
  --color-android-bg: #f8f9fa;
}

/* Isso garante que o fundo da página seja sempre o cinza claro do Android */
@layer base {
  body {
    @apply bg-[--color-android-bg];
  }
}